html {
  box-sizing: border-box;
  color: $c-black;
  font: {
    family:  'Montserrat', sans-serif;
    size: 16px;
  }
  text-rendering: optimizeLegibility;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin:0;
  padding:0;
  &:focus {
    outline: none;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: $c-white;  
}
html,
body,
.container {
height: 100%;
}

.container {
width: 100%;
max-width: 1440px;
padding: 0 16px;
margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
li {
  border: 0;
  margin: 0;
}

main {
  background-color: $c-dark-grey;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;    
}

button {
  background-color: $c-green;
  color: $c-bg-blue;
  cursor: pointer;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: {
    style: none;
    radius: 10px;
  };
  font: {
    size: 18px;
    weight: 600;
  };
  transition: 0.3s;
  &:hover {
    background-color: darken($c-green, $amount: 5);
  }
  @media (min-width: 1024px) {
    font-size: 24px;
    height: 60px;
    max-width: 179px;
    border-radius: 20px;
  }
}